@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
.navbar{
  display: none;
}

body{
   background-color: #f3f5f9;
}

/* for first page display */
.container1{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.primary-button{
  background-image: linear-gradient(
      to right,
      #4f36c9bc 0%,
      #3d24dd 51%,
      #0c2ef0 100%

  );
  padding: 10px;
  color: white;
  font-size: 17px;
  border-radius: 4px;
  background-size: 200% auto;
  transition: 1s;
}
.primary-button:hover{
  background-position:right center;
  color: white;
  font-weight: bold;
}

.hero-container-images{
  position: relative;
  width: 100%;
}

.hero-image{
  position:absolute;
  width: 100%;
  left: auto;
  right: auto;
  z-index: 2;
  box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
}
.hero-shape-image{
  position: absolute;
  right: 2px;
  z-index: 1;
  
}
.hero-description{
  display: flex;
  align-items: flex-start;
  flex-direction:column;
  gap: 15px;
}
.hero-text{
  font-size: 1.8rem;
  line-height: 2.25rem;
  color: #1d355f;
  font-weight: bold;
}
.video-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.video{
  position: relative;
}
.video::before{
  content: "";
  background-image: linear-gradient(
      to right,
      #4743b6 0%,
      #604ed7 31%,
      #6155bd 100%

  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: translate(0.7rem,0.8rem);


}

.chef-video{
  width: 100%;
  height: 100%;
}

.video-text{
  margin-top: 2rem;
  color: #1d3557;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;

}
.food-container{
  width: 100%;
  position: relative;
  margin: 2rem 0;
}
.food-heading{
  font-size: 2rem;
  line-height: 2.25rem;
  color: #1d355f;
  font-weight: bold;
  text-align: center;

}
.food-card{
  background-color: white;
  width: 100%;
  border-radius: 8px;
}
.food-burger{
  width: 100%;
  border-radius: 8px 8px 0 0;

}
.food-title{
  gap: 20px;
  color: #1d355f;
  font-weight:700;
  font-size: 1.8rem;
  margin: 0.5rem 0;
  
}
.food-restaurents{
  color: #1d3557;
}
.food-desc{
  padding: 1rem;
}

.food-menu-list{
  display: flex;
  flex-direction: column;
  gap:1rem;
  margin:1rem 0.3rem;
}
.test-heading{
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #1d355f;
  font-weight: bold;
  text-align: center;
  padding:3rem;

}

.contact-heading{

  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #1d355f;
  font-weight: bold;
  text-align: center;
  padding:3rem;
  margin-top: 10rem;
}
.contact{
  text-align: center;
}
.exit
{
  padding: 2px;
  width: 33px;
  margin-left: 20%;
  
}
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 50px;
  height: 100%;
  background: #fff;
  padding: 30px 0px;
  position: fixed;
}


.wrapper .sidebar li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar li a{
  color: #bdb8d7;
  display: block;
}



.wrapper .sidebar li a .fas{
  width: 25px;
}

.wrapper .sidebar li:hover{
  background-color: #4323e3;
}
    
.wrapper .sidebar li:hover a{
  color: #fff;
}


.wrapper .sidebar .social_media img:hover{
  background-color: #4323e3;
}
.wrapper .sidebar .social_media a:hover{
  background-color: #4323e3;
}
    
.wrapper .sidebar .social_media a:hover a{
  color: #fff;
}
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction:column-reverse;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #fff;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}
/* .first{
  background-color: #fff;
} */

.logo {
  width: 80px;
  height: 70px;
  padding-left:-20%;
  margin-left:-100px;
}
.ntb{
  margin-left:-80px;
}
.company{
  font-weight: bolder;
  color: #4323e3;
  margin-top:2%;
}
.propic{
  height: 6%;
  width: 6%;

}
header{
  padding-left: 3%;
  margin-top: 10%;
}

.pic_name{
  display: flex;
  flex-direction: row;
}
.pic_name .name{
  margin-left: 3%;
  margin-top: 1%;
}
.pic_name .name h3{
  font-weight: bolder;
  font-size:large;
}
.pic_name .name h4{
  font-weight:lighter;
  font-size:small;
}
.money{
  padding:5px;
  margin-top: 40px;
}
.money p{
  font-size: medium;
  font-weight: lighter;
}
.money .ab h3{
  font-weight: bolder;
  font-size:x-large;
}
.money .ab .abb{
  font-size: smaller;
  font-weight:lighter;
  margin-top: -0.5%;
  color: rgba(152, 149, 149, 0.871);
}
.money .yc h3{
  font-weight: bolder;
  font-size: large;
}
.money .yc p{
  font-size: smaller;
  font-weight:lighter;
  margin-top: -0.5%;
  color: rgba(152, 149, 149, 0.871);

}
.firstbtn{
  height: fit-content;
  width: 8%;
}
.Transactions{
  margin-top: 55px;

}
.Transactions h3{
  font-weight: bolder;
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.Transactions .details{
  margin-top: 30px;
  font-size: small;
}
.Transactions .details .date{
  color:rgba(152, 149, 149, 0.871) ;

}
.Transactions .details .mess{
  font-weight: bolder;
  margin-top: -1%;
}
.Transactions .details hr{
  width: 20%;
}
.second{
  margin-left: 30%;
  margin-top: -46%;
}
.target{
  display: flex;
  flex-direction: row;
}
.goal{
  display: flex;
  flex-direction: row;
}
.sh{
  width: 80%;
  border-top: 1px solid blue;
}
.target h3{
  font-weight: bolder;
  font-size: x-large;
  padding: 50px;
  margin-left: -23%;
}
.target .des{
  font-weight: lighter;
  color:rgba(152, 149, 149, 0.871) ; 
  font-size: small;
  padding: 7px;
  margin-top: -30%;
}
.target .desg{
  font-weight: lighter;
  color:rgba(152, 149, 149, 0.871) ; 
  font-size: small;
  padding: 7px;
  margin-top: -44%;
}.target .dese{
  font-weight: lighter;
  color:rgba(152, 149, 149, 0.871) ; 
  font-size: small;
  padding: 7px;
  margin-top: -44%;
}
.income p{
  color: #4323e3;
  font-size: medium;
  font-weight: bolder;
}
.income h3{
  font-weight: bolder;
  font-size:larger;
  margin-top: -1%;
}

.graph{
  margin-top: 5%;
}
.graph h5{
  font-weight: bolder;
  font-size: large;
  padding:10px;
  }


*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}
.circular-progress {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before{
  content: "";
  position: absolute;
  height: 85%;
  width: 85%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container{
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #231c3d;
  
}
.circular-progress1{
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress1:before{
  content: "";
  position: absolute;
  height: 85%;
  width: 85%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container1{
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #231c3d;
  font-weight: bolder;
}
.circular-progress2{
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress2:before{
  content: "";
  position: absolute;
  height: 85%;
  width: 85%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container2{
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #231c3d;
  font-weight: bolder;
}

.compare{
  display: flex;
  flex-direction: row;
  
}
.m_container{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin: 25px;
}
.peers{
  font-weight: bolder;
  margin: 30px;
}
.peers .intro h5{
  font-weight: bolder;
}
.per_details{
  margin-top: 20px;
  margin-top: 5px;
}
.top{
  margin-left:23px;
  margin-top: 5px;
}
.me{
  margin-left:27px;
  margin-top: 5px;
}
.conta{
  background-color: hwb(0 98% 2%);
  margin-left: 68%;
  margin-top: -62%;
  border-radius: 20px;
  border-style: hidden;
  

}

.third{
    margin-left: 5%;
    height: 500px;
    width: 340px;
}
.third .rs h3{
  font-weight: bolder;
  font-size:x-large;
  margin-top:10px
}
.third .rs p{
  font-weight: bolder;
  margin-top: 30px;
  font-size: large;
}
.skill {
  float: left;
  width: 340px;
  margin-top: -5px;
  padding-bottom: 30px;
  overflow: auto;
}

.jenengskill {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 2px;
  padding-bottom: 10px;
  margin-left: 10px;
  color: #afafaf;
}

.skill-bar{
  width: 250px;
  background-color: #ebebeb;
  height: 5px;
  position: relative;
}

.htmlcss{
  width: 30%;
  height: 5px;
  background-color:rgb(20, 20, 209);
  position: relative;
  z-index: 10;
}

.gorang{
  width: 60%;
  height: 5px;
  background-color: rgb(20, 20, 209);;
  position: relative;
  z-index: 10;
  
}


.bunder1{
  background-color:rgb(219, 219, 219);
  width:30px;
  height:30px;
  border-radius:50%;
  position:absolute;
  margin-top:-10px;
  margin-left:48px;
  
}

.bunder1 span{
  font-size:large;
  font-weight: bolder;
  margin-top:6px;
  margin-left:235px;
}

.bunder2{
  background-color:rgb(219, 219, 219);
  width:30px;
  height:30px;
  border-radius:50%;
  position:absolute;
  margin-top:-10px;
  margin-left:130px;
}

.bunder2 span{
  font-size:large;
  font-weight: bolder;
  margin-top:6px;
  margin-left:165px;
  color:black;
}
.ra{
  margin-top: 41px;
  font-weight: bolder;
}
.third .last{
  margin-top: 170px;
  width: 80%;
  color: #231c3d;
}
.rs span{
  margin-left: 100px;
}
.rs .ir{
  margin-left: 180px;
}
.update{
  width: 50%;
  text-align: center;
  display: flex;
  margin-left:80px;
}
.rs a{
  text-decoration: none;
  color:blueviolet;
  padding: 50px;
  font-weight: bolder;
  margin-left: 70px;
  margin-top: 20px;
}
.fourth{
  margin-left: 1050px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.fourth .vertical{
  border-left: 3px solid blueviolet;
  height: 120px;
  width: 300px;
}
.fourth .housing{
  margin-left: -280px;
  margin-top:20px;
}
.fourth .housing a{
  text-decoration: none;
  color: blueviolet;
  font-weight: bolder;
  padding: 5px;
}
.fourth .housing h5{
  font-size: large;
  padding: 5px;
}
.fourth .housing h4{
  font-weight: bolder;
  font-size: medium;
  padding: 5px;
}
.fourth .housing h6{
  font-size: small;
  color: #afafaf;
  padding: 5px;
}

footer {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 180px;
}

footer p {
  text-align: center;
  margin: 10px 0px;
  color: rgb(20, 6, 6);
}

footer p a {
  color: #fff;
  transition: all .5s;
}


/* media queries */

@media (max-width: 480px) {

  .sidebar{
    display: none;
  }

/* mobile navbar kosam */


.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #717171;
  font-size: 17px;
}

.navbar a:hover {
  background: #2c22e6;
  color: rgb(237, 239, 243);
} 

/* mobile nav bar ends */


  .propic{
    height: 30%;
    width: 30%;
    margin-top:20%;
  
  }
  .pic_name{
    display: flex;
    flex-direction: row;
  }
  .pic_name .name{
    padding-left: 10%;
    margin-top: 23%;
  }
  .pic_name .name h3{
    font-weight: bolder;
    font-size:x-large;
  }
  .pic_name .name h4{
    font-weight:lighter;
    font-size:medium;
  }
  .money{
    padding:10px;
    margin-top: 40px;
    padding-left: 30px;
  }
  .money p{
    font-size:x-large;
    font-weight:bolder;
  }
  .money .ab h3{
    font-weight: bolder;
    font-size:40px;
  }
  .money .ab .abb{
    font-size: large;
    font-weight:lighter;
    margin-top: -0.5%;
    color: rgba(152, 149, 149, 0.871);
  }
  .money .ti_yc{
    display: flex;
    flex-direction: row;
  }
  .money .yc h3{
    font-weight: bolder;
    font-size: larger;
    
  }
  .money .yc p{
    font-size: large;
    font-weight:lighter;
    margin-top: -0.5%;
    color: rgba(152, 149, 149, 0.871);
  
  }
  .firstbtn{
    height: fit-content;
    width: 60%;
    margin-left: 45px;
  }
  .Transactions{
    margin-top: 55px;
    padding-left: 25px;
  
  }
  .Transactions .details{
    margin-top: 30px;
    font-size: medium;
  }
  .second{
    margin: 0;
    padding-left: 30px;
  }
  .income h3{
    font-size:xx-large;
  }
 .target{
  display: block;
  padding-left: 45px;
  margin-top: -20px;
 }
 .target h3{
  font-size:xx-large;
 }
 .target .des{
  margin-top: -60px;
  padding-left:-20px
 }
 .target .sh{
  padding-left:-20px;
  margin-top:-20px;
 }
.target .goal{
  display: flex;
  flex-direction: row;
  margin-left:-30px;
}
.graph{
  padding-left: 20px;
}
.graph h5{
  font-size: x-large;
  text-align: center;
}
.second .graph .graph_mobile{
  width: 50%;
  height: 400px;
}
.peers .intro h6{
  font-size:small;
}
.compare{
  display: flex;
  flex-direction:column;
}

.compare .m_container{
  margin-top: 35px;
  column-gap: 10px;
  padding-left:-300px;
  padding-right: 130px;
  display: flex;
  flex-direction: row;
}
.compare .m_container .container{
  margin-left: -50px;
  
}
.conta{
  margin: 0;
}
.fourth{
  margin: 0;
  height: 260px;
}
.company{
  margin-right: 40%;
}
  
}



/*media queries*/

@media (min-width: 768px) {
  .hero-container{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      
  }
  .hero-image{
      margin-top: 5rem;
      width: 90%;
  }
  .hero-text{
      font-weight: 900;
      font-size: 2rem;
  }
  .food-menu-list{
    flex-direction: row;
    padding: 2rem;
}
  .card-up{
      margin-top: -1rem;
      margin-bottom: 1rem;
  }
  .food-back-shape{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      transform: skewY(-5deg);
      z-index: -3;
      background-image: linear-gradient(
      to right,
      #2f93ff 0%,
      #564ef3 51%,
      #a648f4 100%

  );

  }
  .food-container{
      margin: 4rem 0;
  }
  

  
}

